{% load static %}
<!-- catagories -->
<div class="aside-widget">
    <div class="section-title">
        <h2>Categories</h2>
    </div>
    <div class="category-widget">
        <ul>
            <li><a href="#" class="cat-1">Technology<span>340</span></a></li>
            <li><a href="#" class="cat-2">Politics<span>74</span></a></li>
            <li><a href="#" class="cat-4">Society<span>41</span></a></li>
            <li><a href="#" class="cat-3">Economics<span>35</span></a></li>
            <li><a href="#" class="cat-1">Education<span>340</span></a></li>
            <li><a href="#" class="cat-2">Tourism<span>74</span></a></li>
            <li><a href="#" class="cat-4">Development<span>41</span></a></li>
            <li><a href="#" class="cat-3">Food<span>35</span></a></li>
            <li><a href="#" class="cat-1">Fashion<span>340</span></a></li>
            <li><a href="#" class="cat-2">Health<span>74</span></a></li>
            <li><a href="#" class="cat-4">Entertainment<span>41</span></a></li>
            <li><a href="#" class="cat-3">International<span>35</span></a></li>
        </ul>
    </div>
</div>
<!-- /catagories -->