{% load static %}

<div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <h2>Most Read</h2>
        </div>
    </div>
    
    {% for i in '1234' %}
    <!-- post -->
    <div class="col-md-12">
        <div class="post post-row">
            <a class="post-img" href="blog-post.html"><img src="{% static 'img/post-1.jpg' %}" alt=""></a>
            <div class="post-body">
                <div class="post-meta">
                    <a class="post-category cat-4" href="category.html">Css</a>
                    <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="blog-post.html">CSS Float: A Tutorial</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
            </div>
        </div>
    </div>
    <!-- /post -->
    {% endfor %}
    
    <div class="col-md-12">
        <div class="section-row">
            <button class="primary-button center-block">See More</button>
        </div>
    </div>
</div>
